<nav class="navbar navbar-expand-lg navbar navbar-light" style="background-color:rgb(224, 224, 224);">
  <a class="navbar-brand text-logo" href="/"><img src="images/logo1.png" alt="" width="64px"> Blog de Viajes</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu_blog" aria-controls="menu_blog" aria-expanded="false" aria-label="Toggle navigation">
    <span class=""><i class="fas fa-bars"></i></span>
  </button> 

  <div class="collapse navbar-collapse" id="menu_blog">
    <ul class="navbar-nav">
      <li class="nav-item active mx-auto">
        <a class="nav-link" href="/"><i class="fas fa-home"></i> Inicio </a>
      </li>
      <li class="nav-item mx-auto">
        <a class="nav-link" href="#"><i class="fas fa-user-tie"></i> Autores</a>
      </li>

    </ul>
    <ul class="navbar-nav mx-auto">
      <li class="nav-item mx-auto">
          <a class="nav-link" href="/registro"> Registro</a>
      </li>
      <li class="nav-item mx-auto">
          <a class="nav-link" href="/inicio"> Iniciar sesión</a>
      </li>
    </ul>
  </div>

</nav>